.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
  max-width: 800px;
  height: auto;
  flex-basis: 100%;
}

.movies {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 24px;
}
.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.movie > h3,
.movie > p {
  margin: 0;
}
.movie > img {
  margin-top: 16px;
}
